* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

.container {
    margin: 35px 20px;
    background-color: black;
    border-radius: 9px;
}

nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    border-radius: 9px;
    margin-bottom: 50px;
}

nav .logo {
    color: #fff;
}

nav .nav-list ul {
    display: flex;
    gap: 120px;
}

nav .nav-list a {
    color: #fff;
    font-size: 20px;
}

.imgs {
    text-align: center;
    border: 2px solid blue;
}

.imgs img {
    width: 300px;
    height: 200px;
    border: 3px solid blue ;
    margin-bottom: 25px;
}

.imgs img:hover {
    transform: scale(1.3);
    transition: 2s;
}

.ronaldo {
    gap: 25px;
}

.imgs h2 {
    color: #fff;
    margin-bottom: 25px;
}

.text {
    border: 3px solid blue;
    padding: 30px;
    align-items: center;
}

.text h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
}

.text p {
    text-align: center;
    line-height: 25px;
    color: black;
    border: 2px solid blue;
    border-radius: 9px;
    padding: 20px;
}

.text p:hover {
    background-color: white;
    transform: scale(1.1);
    transition: 2s;
}